:root {
  --dark-font: #090a1a;
  --primary-color: #0b1223;
  --background-light: #eaecf4;
  --background-secondary: #eaebe6;
  --accent-color: #ecb8d5;
  --heading-font: "Playfair Display", serif;
  --body-font: "Raleway", sans-serif;
  --hover-transition: all 350ms ease-in-out;
  --card-shadow: 5px 5px 16px rgba(0, 0, 0, 0.05);
}

body {
  font-family: var(--body-font);
  color: var(--dark-font);
}

h1 {
  font-family: var(--heading-font);
  font-size: 64px;
}

h2 {
  font-family: var(--heading-font);
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1rem;

  /* letter-spacing: 1px; */
}

h3 {
  font-size: 16px;
  line-height: 1.5;
}

p,
ul {
  font-size: 14px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--dark-font);
}

.logo {
  margin: 0 12px;
  width: 50px;
}

.first-screen {
  background-color: var(--background-light);
  background-image: radial-gradient(
    ellipse farthest-corner at 0 120%,
    var(--background-light) 72%,
    white 72%
  );
  padding: 100px 20px 50px;
}

.hero-image {
  width: 40vw;
}

.second-block {
  background: linear-gradient(180deg, var(--background-light) 0%, white 100%);
}

.service__icon {
  float: left;
  margin: 8px 12px 8px 0;
}

.services__content {
  border: 1px solid var(--background-light);
  border-radius: 8px;
  box-shadow: var(--card-shadow);
  padding: 2rem;
  margin-bottom: 2rem;
}

.about__greetings {
  font-weight: normal;
}

.about__name {
  font-weight: bold;
}

.block-title {
  color: var(--dark-font);
  opacity: 0.1;
  font-size: 96px;
  font-weight: bold;
  line-height: 1em;
  overflow: hidden;
  white-space: nowrap;
  margin: 30px auto;
  animation-name: slidein;
  animation-duration: 2.7s;
}

@keyframes slidein {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.btn-custom {
  background-color: var(--primary-color);
  color: white;
  font-size: 18px;
  padding: 10px 30px;
  margin: 15px 0;
  transition: var(--hover-transition);
}

.btn-custom-outline {
  background-color: var(--background-light);
  border: 1px solid var(--background-light);
  font-size: 18px;
  padding: 10px 30px;
  margin: 15px 0;
  transition: var(--hover-transition);
}

.btn-custom-outline:hover {
  border: 1px solid var(--dark-font);
}

@keyframes slideInFloat {
  0% {
    transform: translate(-100%, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

.float-contact {
  animation-name: slideInFloat;
  animation-duration: 2.7s;
  background-color: var(--primary-color);
  border-radius: 0 6px 6px 0;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  position: fixed;
  top: 60%;
  z-index: 100;
}

.float-contact a {
  color: var(--background-light);
  padding: 8px;
  transition: var(--hover-transition);
}

.float-contact a:hover {
  background-color: var(--background-light);
  color: var(--primary-color);
}

.project-item {
  border: 1px solid var(--background-light);
  border-radius: 8px;
  box-shadow: var(--card-shadow);
  align-items: center;
}

.work-title {
  margin: 0 0 32px;
  opacity: 80%;
  width: 85%;
  max-width: 580px;
}

.project-img {
  padding: 0;
}

.project-img img {
  object-fit: cover;
}

.project-card {
  background-color: white;
  box-shadow: var(--card-shadow);
  display: flex;
  position: relative;
  flex-wrap: wrap;
  transition: var(--hover-transition);
}

.project-card img {
  width: 100%;
  margin: 0 auto;
}

.project-card-link {
  position: absolute;
  right: 15px;
  top: 15px;
  opacity: 10%;
  transition: var(--hover-transition);
}

.project-card-description {
  margin: 25px 25px;
}

.project-card:hover .project-card-link {
  opacity: 100%;
}

.project-card:hover {
  box-shadow: none;
  cursor: pointer;
}

.project-description {
  margin: 0 auto;
  vertical-align: middle;
  width: 80%;
}

.project-description ul,
.project-description p {
  margin-bottom: 8px;
}

.project-tools i {
  font-size: 24px;
  margin: 8px 8px 8px 0;
}

.project-tools img {
  width: auto;
  height: 16px;
  margin: 12px 0;
}

.content {
  padding: 50px 0px;
}

.contact {
  padding: 30px 0;
  width: 80%;
  max-width: 900px;
}

.about-first-screen {
  margin-bottom: 2rem;
}

.about-summary {
  max-width: 630px;
}

.skills {
  background-color: var(--background-light);
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.about-skills {
  color: var(--dark-font);
  font-size: 48px;
  /* line-height: 1.2; */
  text-align: center;
}

.about-skills-name {
  font-size: 16px;
  padding: 0 30px;
}

.running-line-container {
  margin-bottom: 2rem;
  overflow: hidden;
  height: 100px;
  position: relative;
}

.running-line,
.second-part {
  overflow: hidden;
  position: absolute;
  animation: runningLine 30s infinite linear forwards;
}

.start-part {
  overflow: hidden;
  position: absolute;
  animation: runningLine_start 15s linear forwards;
}

.second-part {
  transform: translate(100%, 0);
  animation: 30s runningLine 15s infinite linear forwards;
}

@keyframes runningLine_start {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

@keyframes runningLine {
  0% {
    transform: translate(100%, 0);
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

.certificate {
  padding: 4rem 0;
}

.contact-icon {
  font-size: 44px;
  color: var(--primary-color);
}

.link-contact {
  align-self: center;
  max-width: 200px;
  padding: 55px 0px;
  margin: 0 30px;
  border-radius: 50%;
  transition: var(--hover-transition);
}

.contact-item {
  text-decoration: none;
  color: var(--dark-font);
}

.link-contact:hover {
  background-color: var(--background-light);
}

footer {
  margin: 20px 0 0;
  /* padding: 30px; */
}
footer h4 {
  font-weight: bold;
  font-family: var(--heading-font);
  font-size: 28px;
  line-height: 1.6;
}

footer .contact-box {
  background-color: var(--background-light);
  padding: 30px 60px;
}

footer .mail-link {
  text-decoration: none;
  color: var(--dark-font);
  font-size: 24px;
  text-align: center;
  transition: var(--hover-transition);
}

footer .mail-link:hover {
  text-decoration: underline;
  color: var(--dark-font);
}

footer .social-links a {
  margin: 0 20px;
  padding: 10px 14px;
  border-radius: 50%;
  color: var(--primary-color);
  background-color: var(--background-light);
  font-size: 18px;
  transition: var(--hover-transition);
}

.footer__createdBy {
  font-size: 10px;
}

footer .social-links a:hover {
  color: white;
  background-color: var(--primary-color);
}

nav a.active,
a:hover {
  color: var(--primary-color);
  transition: all 150ms ease-in-out;
}

@media (max-width: 990px) {
  .block-title {
    font-size: 96px;
    text-align: center;
  }

  h1 {
    font-size: 48px;
    line-height: 1.2;
  }

  h2 {
    font-size: 24px;
    line-height: 1.2;
  }

  p {
    font-size: 14px;
  }

  .btn-custom-outline,
  .btn-custom {
    font-size: 16px;
    line-height: 1;
    margin: 16px 10px;
    padding: 12px 25px;
  }

  .container-content {
    text-align: center;
  }

  .service__icon {
    float: none;
  }

  .container-content ul,
  .skills-title {
    text-align: left;
  }

  .project-card-description {
    text-align: left;
  }

  .project-description {
    border-radius: 8px;
    padding: 30px 15px;
    text-align: left;
    width: 95%;
  }

  .work-title {
    margin: 0 auto 32px;
    text-align: center;
  }

  .project-description p {
    font-weight: 500;
  }

  .dictionary-project,
  .weather-project,
  .weather-project-2 {
    background-position: 0% 0%;
    margin-top: 16px;
  }

  .container-content {
    padding: 4px;
  }

  .about-skills-name {
    font-size: 14px;
    padding: 0 4px;
  }

  .about-skills {
    font-size: 32px;
    margin-bottom: 15px;
  }

  .running-line-container {
    height: 130px;
  }
}

@media (max-width: 576px) {
  .first-screen {
    padding: 50px 10px;
  }

  .content {
    padding: 50px 0;
  }

  .block-title {
    font-size: 60px;
  }
}
