:root {
  --dark-font: #090a1a;
  /* --light-font: #dde2fa;
  --primary-color: #647bfd;
  --background-light: #cbd2fe; */
  --light-font: #cadafd;
  --primary-color: #0b1223;
  --background-light: #91b0ff;
  --heading-font: "Playfair Display", serif;
  --body-font: "Raleway", sans-serif;
}

body {
  font-family: var(--body-font);
  color: var(--dark-font);
}

h1 {
  font-family: var(--heading-font);
  font-size: 48px;
  line-height: 1.2;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  line-height: 1.2;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
p {
  padding-left: 10px;
}

a {
  text-decoration: none;
  color: var(--dark-font);
}

.first-screen {
  background-color: var(--background-light);
  padding: 70px 20px 30px;
}

.name {
  font-weight: bold;
}

.block-title {
  color: var(--light-font);
  font-size: 120px;
  font-weight: bold;
  line-height: 1em;
}

.btn-custom {
  background-color: var(--primary-color);
  color: white;
  font-size: 18px;
  line-height: 27px;
  margin: 15px 10px;
  padding: 15px 40px;
}

.btn-custom-outline {
  font-size: 18px;
  line-height: 27px;
  margin: 25px 10px;
  padding: 15px 30px;
  border: 1px solid var(--dark-font);
}

.project-card {
  background-color: var(--background-light);
  padding: 10px;
}

.project-description h2 {
  font-size: 52px;
}

.project-description {
  padding: 100px 50px 0;
}

.content {
  margin: 70px 20px;
}

.contact {
  padding: 30px 0;
  max-width: 900px;
}

.contact-icon {
  font-size: 44px;
  color: var(--primary-color);
}

.link-contact {
  text-decoration: none;
  color: var(--dark-font);
}

.contact-item {
  margin-left: 10px;
}

footer {
  margin: 60px 0 0;
  padding: 30px;
}
footer h4 {
  font-weight: bold;
  font-family: var(--heading-font);
  font-size: 28px;
  line-height: 1.6;
}

footer .contact-box {
  background-color: var(--background-light);
  padding: 30px 60px;
}

footer .mail-link {
  text-decoration: none;
  color: var(--dark-font);
  font-size: 24px;
  text-align: center;
}

footer .mail-link:hover {
  text-decoration: underline;
  color: var(--dark-font);
}

footer .social-links a {
  margin: 0 20px;
  padding: 10px 14px;
  border-radius: 50%;
  color: var(--primary-color);
  background-color: var(--background-light);
  font-size: 18px;
  transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background-color: var(--primary-color);
}

nav a.active,
a:hover {
  color: var(--light-font);
  transition: all 150ms ease-in-out;
}

@media (max-width: 900px) {
  .block-title {
    font-size: 96px;
    text-align: center;
  }

  h1 {
    font-size: 36px;
    line-height: 1.2;
  }

  h2 {
    font-size: 28px;
    line-height: 1.2;
  }

  .work-title {
    font-size: 26px;
  }

  .container-content {
    text-align: center;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .project-description h2 {
    font-size: 38px;
  }

  .hero-content-projects {
    margin: 0;
  }

  .container-content {
    padding: 0;
  }
}

@media (max-width: 576px) {
  .first-screen {
    padding: 50px 10px;
  }

  .block-title {
    font-size: 60px;
  }
}
