:root {
  --dark-font: #090a1a;
  --light-font: #dde2fa;
  --primary-color: #647bfd;
  --background-light: #cbd2fe;
  --heading-font: "Playfair Display", serif;
  --body-font: "Raleway", sans-serif;
}

body {
  font-family: var(--body-font);
  color: var(--dark-font);
}

h1 {
  font-family: var(--heading-font);
  font-size: 36px;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 16px;
  line-height: 30px;
}

h1,
h2,
h3,
p {
  padding-left: 10px;
}

.firstScreen {
  background-color: var(--background-light);
  padding: 130px 10px;
}

.hero,
.content {
  max-width: 900px;
}

.hero {
  margin: 0px auto;
}

.block-title {
  color: var(--light-font);
  font-size: 120px;
  font-weight: bold;
  line-height: 1em;
}

.name {
  font-weight: bold;
}

.btn-custom {
  background-color: var(--primary-color);
  color: var(--light-font);
  font-size: 18px;
  line-height: 27px;
  margin: 25px 10px;
  padding: 15px 30px;
}

.content {
  margin: 70px auto;
  padding: 0 10px;
}

.btn-custom-outline {
  font-size: 18px;
  line-height: 27px;
  margin: 25px 10px;
  padding: 15px 30px;
  border: 1px solid var(--dark-font);
}

.project-description-right {
  padding: 50px 0 0 30px;
}

.project-description-left {
  padding: 50px 30px 0 0;
}

@media (max-width: 900px) {
  .block-title {
    font-size: 96px;
    text-align: center;
  }

  .intro {
    text-align: center;
  }

  .project-description-left,
  .project-description-right {
    padding: 0;
    text-align: center;
  }
}

@media (max-width: 576px) {
  h2 {
    font-size: 36px;
    line-height: 1.6;
  }

  .firstScreen {
    padding: 50px 10px;
  }

  .block-title {
    font-size: 64px;
  }
}
